<%= render "shared/header" %>

<%# オーダーの概要 %>
<div>
  <div class="order-screen">
    <h2 class="icon--name">
      <%= @order.name %>
    </h2>

    <table>
      <tbody>
        <tr>
          <th class="title-box">ジャンル</th>
          <td class="content-box"><%= image_tag "#{@order.type_id}.png", :size => '40x40' %></td>
        </tr>
        <tr>
          <th class="title-box">発注経緯</th>
          <td class="content-box"><%= @order.story %></td>
        </tr>
        <tr>
          <th class="title-box">DIYクライアント</th>
          <td class="content-box"><%= @order.user.nickname %></td>
        </tr>
        <tr>
          <th class="title-box">タイプ</th>
          <td class="content-box"><%= @order.type.name %></td>
        </tr>
        <tr>
          <th class="title-box">サイズ</th>
          <td class="content-box"><%= @order.size %></td>
        </tr>
        <tr>
          <th class="title-box">材質・塗装</th>
          <td class="content-box"><%= @order.material %></td>
        </tr>
        <tr>
          <th class="title-box">詳細</th>
          <td class="content-box"><%= @order.detail %></td>
        </tr>
        <tr>
          <th class="title-box">希望制作びの目安</th>
          <td class="content-box"><%= @order.delivery_time.name %></td>
        </tr>
      </tbody>
    </table>

    <div class="order--price">
      <span>
        <%= @order.price.to_s(:delimited) %>円
      </span>
    </div>

    <% unless @closures.exists?(order_id: @order.id) %>
      <% if user_signed_in? && current_user.id == @order.user_id %>
      <div class="edit-destroy-btn-wrapper">
        <div class="edit-destroy-btn"><%= link_to 'オーダーの編集', edit_order_path(@order.id), method: :get,id:"confirm-destroy", class: "order-pink-btn" %></div>
        <div class="edit-destroy-btn"><%= link_to '削除', order_path(@order.id), method: :delete, class:'order-destroy', data: { confirm: '削除してもよろしいですか？' } %></div>
      </div>
      <% else %>
        <% unless user_signed_in? && @order.bids.exists?(user_id: current_user.id) %>
          
          <%= link_to '入札画面に進む', new_order_bid_path(@order.id), class:"bid-btn" %>
         
        <% else %>
          <div><span class="bid-already">あなたはこの家具をすでに入札しています</span></div>
        <% end %>
      <% end %>
    <% else %>
            <div><span class="bid-already">この家具はすでに入札されています</span></div>
    <% end %>
  
  </div>
</div>